@charset "UTF-8";

:root {
    --cor0: #414E75;
    --cor1: #D2DBF7;
    --cor2: #86A2F5;
    --cor3: #646875;
    --cor4: #6B80C2;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
}

body {
    /*
    background: transparent url(../imagens/background.png) repeat-y;
    position: center center;
    background-size: contain;
    */
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.278);
    text-align: center;
}

header > h1 {
    text-align: center;
    padding: 15px;
}

i {
    display: block;
    cursor: pointer;
    padding: 10px;
}

i:hover{
    background-color: #414E75;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 1px solid black;
}

nav {
   text-align: center; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    background-color: var(--cor0);
    padding: 5px;
    margin: 3px;
    border-radius: 10px 0px;
    box-shadow: 1px 1px 1px var(--cor1);
}

a:hover {
    color: var(--cor0);
    background-color: white;
    text-decoration: underline;
    transition: .5s;
}

li{
    list-style-type: none;
    margin-top: 10px;
}

menu#itens{
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

h2 {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.695);
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

p {
    text-align: justify;
    text-indent: 7px;
    padding: 10px;
    line-height: 1.2em;
}

div#image-bg {
    background-color: var(--cor0);
    position: relative;
    width: 90vw;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
}

img#heart-neon {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

li.portfolio-list {
    background-color: var(--cor1);
    padding: 10px;
    margin: 5px;
}

img.portfolio-item {
    display: block;
    margin: auto;
    width: 150px;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--cor3);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}
/*
@media screen and (orientation: portrait){
    nav {
    }
}
*/
